<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <div class="container Page">
        <header>
            <div class="header">
                <div class="TopBar">
                    <a class="nav-link" href="../../../index.html">   
                        <img src="/src/assets/Logo.svg" class="logo">                            
                    </a>
                    <input type="text" name="text" class="InputSearch" placeholder="Procurar">
                    <a class="nav-link" href="#">   
                        <img src="/src/assets/ProfileImage.svg" class="ProfileImage">                            
                    </a>
                </div>
            </div>
            
            <img src="/src\assets\banners\Vagabond19 1.png" class="banner fluid" alt="...">
            <div id="MangaCover-box" class="MangaBox ">
                <img src="/src\assets\covers\VagabondCover.svg" class="Covers">
            </div>
            <h1 style="color: rgba(255, 255, 255, 0.75); font-size: 26px;" class="MangaTitle" >Vagabond</h3>
        </header>

        <div class="Info row align-items-start" >
            <div class="col">
                <h1 class="Text">Formato:</h1>
                <h1 class="Text">Status:</h1>
                <h1 class="Text">Lançamento:</h1>
                <h1 class="Text">Cadastrado:</h1>
                <h1 class="Text">Views</h1>
            </div>
            <div class="col">
                <h1 class="Text">Mangá</h1>
                <h1 class="Text">Ativo</h1>
                <h1 class="Text">2014</h1>
                <h1 class="Text">11/05/2024</h1>
                <h1 class="Text">10.4k</h1>
            </div>

            <div class="icons row">
                <div class="col">
                    <img src="/src\assets\heart.svg" class="icons heart">
                </div>
                <div class="col">
                    <img src="/src\assets\bookmark.svg" class="icons bookmark">
                </div>
            </div>
        </div>

        <div class="Chapters row">
            <div class="col-12 mb-3 ChapterTop">
                <h5 style="font-size: 25px; color: white;" class="Text">
                    Capitulos<img src="/src\assets\bookIcon.svg" style="width: 40px; margin-left: 8px; ">
                </h5>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 1</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Guiltry<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText"> 2 semanas</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 2</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Guiltry<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">2 semanas</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 3</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Guiltry<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">2 semanas</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 4</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Guiltry<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">2 semanas</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 5</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Guiltry<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">2 semanas</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 6</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Yegear<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">1 semana</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 7</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Yegear<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">4 dias</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 8</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Yegear<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div>
                        <h5 class="CardText"></h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">4 dias</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 row ChapterBox">
                <div class="col-6">
                    <div class="ChapterNumber">
                        <h1 style="font-weight: 600;" class="ChapterText">Capitulo 9</h2>
                    </div>
                    <div>
                        <h5 class="CardText">Yegear<span style="font-size: 1.3em; vertical-align: sub;"> / </span></h4>
                    </div>
                </div>
                
                <div class="col-6">
                    <div class="CardNew">
                        <h5 class="CardText">
                            <img src="/src\assets\book.svg" style="width: 22px; margin-right: 5px; ">Novo
                        </h5>
                    </div>
                    <div class="Time" class="CardText">
                        <h5 style="margin-top: 12%;" class="CardText">2 horas</h5>
                    </div>
                </div>
            </div>

        </div>     
      </div>
        <footer class="footer">
          <span class="TextFooter">2024 ・ MugenProject 0.1</span>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
