<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MugenProject</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>
    <div 
        class="flex-col min-h-screen h-full bg-gray-950 transition duration-300 pb-12"
    >
        <div class="z-50 max-w-5 border-b rounded-b-lg transition duration-300 TopBar" >
            <div class="flex grid-flow-row px-2 gap-5 mx-auto md:items-center sm:px-6 py-1 md:py-2">
                <a class="" href="../../../index.html">   
                    <img src="/src/assets/Logo.svg" class="w-20">                            
                </a>
                <input 
                    type="text" 
                    name="text" 
                    class="w-35 flex-shrink h-7 self-center focus:outline-none outline-none focus:border-blue-500 rounded px-2 py-1 text-sm InputSearch" 
                    placeholder="Procurar"
                >
                <a class="" href="#">   
                    <img src="/src/assets/ProfileImage.svg" class="w-9 self-center">                            
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <span class="TextFooter">2024 ・ MugenProject 0.1</span>
    </footer>
</body>
</html>