@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;}

@font-face {
    font-family: 'PoppinsThin';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



body {
    z-index: 0;
    line-height: 1.6;
    background-color: #14141A;
    
    font-family: "PoppinsRegular", sans-serif;
    margin: auto;
    text-rendering: optimizeLegibility;
    /* background-color: #5f5fb9; */
}

.header{
    width: 100%;
    height: auto;
}

.TopBar {
    transform: translate(-50%, -50%);  
    left: 50%; 
    top: 0%;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
    
    align-items: center;
    justify-content: cente;
    flex-direction: row;
    position: fixed;
}
@media (min-width: 1024px) {
    .TopBar{
        height: 130px;
    }
}

.logo{
    margin-left: 3%;
    top: 42%;
    width: 100px;
    height: 60px;
    z-index: 2;

    position: absolute;
}
@media (min-width: 1024px) {
    .logo {
        top: 53%;
        width: 130px; 
        height: 49.86px;
    }
}


.InputSearch{
    transform: translate(-50%, -50%);  
    left: 50%;
    width: 130px;
    height: 20px;
    max-width: 190px;
    bottom: 1%;
    font-weight: 500;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 5px rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 1s;
    letter-spacing: 1px;

    background-color: rgba(217, 217, 217, 0.75);

    text-align: center;
    position: fixed;
}
.InputSearch:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.ProfileImage{
    /* transform: translateX(-50%); */
    top: 59%;
    margin-left: 83%;
    min-height: 40px;
    min-width: 40px;
    /* transition: 2s; */

    position: fixed;
}
@media (min-width: 1024px) {
    .ProfileImage {
        top: 52%;
        width: 70px; /* Ajuste o tamanho do ícone para telas maiores */
        height: 70px;
    }
}

.capa{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: auto;


    margin: auto;
    position:fixed;
}
 

.MangaTitle{
    /* transform: translate(-50%, -50%);   */
    transform: translateX(-50%);
    left: 50%;
    top: 71%;
    color: rgba(255,255,255,0.75);
    font-size: 2vw;
    letter-spacing: 0.4vw;
    border: 1px;
    background-color: black;
    border-radius: 5px;

    position: absolute;
}
@media (max-width: 768px) {
    .MangaTitle {
        font-size: 4vw; /* Reduza o tamanho da fonte em telas menores */
        top: 10%; /* Ajuste a posição vertical para telas menores */
    }
}
